
@import 'reset';

$pink: #FF1EAD; 


* {
	box-sizing: border-box;
}


body {
	background: #555;
}
html, body {
	width: 100%;
	height: 100%;
}

/* 2. Content ================================= */

.content {
	position: relative;
	font-family: sans-serif;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}


#pixiCanvas {
	background: #fff;
}

#status {
	padding: 10px;
}